@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(50%, 50%) translateY(0px);
  }
  50% {
    transform: translate(50%, 50%) translateY(-4px);
  }
}

.animate-bounce {
  animation: bounce 1s ease-in-out;
}

@keyframes bounce-center {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
}

.animate-bounce-center {
  animation: bounce-center 1s ease-in-out;
}
